@import "tailwindcss";
.projectsContainer {
  position: relative;
  padding: 2em;
  display: flex;
  flex-direction: column;
}
.contentBox {
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4em;
}
.projectTextContentBox {
  text-align: end;
  display: flex;

  flex-direction: column;
}
.projectTextContentBox h1 {
  font-size: clamp(3em, 10vw, 12em);
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.05em;
}
.projectTextContentBox p {
  font-size: clamp(1.2em, 6vw, 3.5em);
  line-height: 1;
  max-width: 900px;
  font-weight: 400;
  letter-spacing: -0.05em;
}
.projecsCardsBox {
  padding: 0 2em;

  display: flex;
  flex-direction: column;
  gap: 2em;
}
